<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>{{uuid}}</h1>
<h1>{{pwd}}</h1>
<img src="https://user-images.githubusercontent.com/76817418/172022258-8faf7b71-183d-4764-b914-aca0b50873b4.png">
</body>
</html>